* {
  font-family: "Comforter Brush", cursive;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}

/* Header Stuff */
header{
    background: linear-gradient(#dcc7aa, white);
}
/* Nav Stuff */

/* Main Stuff */
main{
    
}
/* Footer Stuff */

/* Page Specific Stuff */

